pkgbase = jslint
	pkgdesc = The JavaScript Code Quality Tool
	pkgver = 0.7.3
	pkgrel = 1
	url = http://jslint.com/
	arch = any
	license = MIT
	depends = nodejs
	provides = nodejs-jslint

pkgname = jslint

