pkgbase = jslint
	pkgdesc = The JavaScript Code Quality Tool
	pkgver = 0.9.1
	pkgrel = 1
	url = http://jslint.com/
	arch = any
	license = MIT
	depends = npm
	provides = nodejs-jslint

pkgname = jslint

